h1 {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  color: rgb(28, 172, 152);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: right;
  font-family: garamond;
  font-size: 37px;
  color: rgb(28, 172, 152);
  margin-right: 25%;
} 
h4  {
  text-align: right;
  font-family: garamond;
  font-size: 32px;
  color: rgb(28, 172, 152);
  margin-right: 25%;

}
h5 {
  text-align: right;
  font-size: 25px;
  color: rgb(28, 172, 152);
  margin-right: 25%;
}
body  {
  background-color: #0d25ad;
  color: rgb(28, 172, 152);
}

a {
  color: rgb(28, 172, 152);
}

ul {
  margin-left: 25%;
  color: rgb(28, 172, 152);
}

li {
  color: rgb(28, 172, 152);
}